body {
  height: 1000vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.grid {
  grid-template-columns: repeat(7, 9vmin);
  grid-template-rows: repeat(6, 9vmin);
  display: grid;
  border-radius: 5%;
  width: 73vmin;
  height: 63vmin;
  background-color: rgb(9, 1, 250);
  padding: 1%;
  gap: 1.5%;
  box-shadow:
    inset 0 0 50px #fff,      
    inset 20px 0 80px #f0f,   
    inset -20px 0 80px rgb(225, 177, 228),  
    inset 20px 0 300px rgb(233, 47, 153),  
    inset -20px 0 300px rgb(216, 12, 234), 
    0 0 50px #fff,            
    -10px 0 80px #f0f,        
    10px 0 80px rgb(255, 255, 255);         
}

.grid > div {
background-color: white;
border-radius: 10%;
border: 5px solid rgb(65, 55, 55);
text-align: center;
vertical-align: middle;
}

h1 {
  padding: 5px 0;
  margin: 20px;
  font-family: 'Audiowide', sans-serif;
  font-size: 70px;
  text-shadow:
  -1px 0 rgba(255, 255, 255, 0.5),
  1px 1px 0 rgba(234, 235, 240, 0.25),
  3px 3px 3px rgba(247, 7, 215, 0.25),
  10px 10px 20px rgba(202, 18, 212, 0.5),
  20px 40px 40px rgba(255, 255, 255, 0.5); 
}

h2 {
  margin: 10px 10;
}

#game-status {
  align-items: center;
  padding: 10px 10px;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Audiowide', sans-serif;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
}