body {
  height: 1000vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* background-image: url("https://unsplash.com/photos/By-tZImt0Ms"); */
}

.grid {
  grid-template-columns: repeat(7, 9vmin);
  grid-template-rows: repeat(6, 9vmin);
  display: grid;
  border: 5px solid red;
  border-radius: 5%;
  width: 70vmin;
  height: 60vmin;
  background-color: blue;
  padding: 1%;
  gap: 1.5%;
}
  
.grid > div {
background-color: white;
border-radius: 50%;
border: 5px solid black;
text-align: center;
vertical-align: middle;
}

.grid>div:hover {
  background-color: rgb(180, 176, 176);
}